name: Rust CI

on:
  push:
    branches: [ dev ]
    paths-ignore:
      - 'docs/**'
      - 'README.md'
      - 'CONTRIBUTING.md'
      - '.vscode/**'
  pull_request:
    branches: [ master ]
    paths-ignore:
      - 'docs/**'
      - 'README.md'
      - 'CONTRIBUTING.md'
      - '.vscode/**'

jobs:
  build:
    name: Build, Test and Deploy
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - run: cargo fmt --check
      - run: cargo test --all
      - run: cargo clippy -- -D warnings